.paddingall{
    padding: 10px 10px 10px 10px;
}

.pricetitle{
    font-weight: 600;
}

.pricesubtitle{
    font-weight: 14px;
}

.iconstyle{
    padding-left: 20px;
    padding-top: 20px;
    color: aliceblue;
}

.iconstyleblack{
    padding-top: 20px;
    padding-left: 20px;
}

.gradient{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(216,141,35,1) 0%, rgba(145,36,221,1) 0%, rgba(151,45,225,1) 54%);
}


.bgcolor{
    min-height:100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg,rgba(224,224,224,) 0%,rgba(233,237,254)100%);
}
